h1{
	color: white;
	font-family: "Times New Roman";
	margin-top: 0px
}
h2{
	background-color: #222222;
	font-family: "Times New Roman";
	color: white;
}
body{
	background-image:url("paper.jpg");
}
#header{
	width: 100%;
	height: 100px;
	margin-top: 0px;
	background-color: #222222;
}
.paragraph{
	padding-top: 35px;
	display: block;
	font-size: 20px;
	padding-left: 45px;
	padding-right: 45px;
	font-weight: 600;
}
.paragraphProject{
	padding-top: 60px;
	display: block;
	font-size: 20px;
	padding-left: 20%;
	padding-right: 20%;
	font-weight: 600;
}
.finalParagraph{
	padding-top: 60px;
	display: block;
	font-size: 20px;
	padding-left: 20%;
	padding-right: 20%;
	font-weight: 600;
}
footer{
	position: fixed;
	bottom: 0px;
	background-color: #222222;
	display: block;
	width: 100%;
}
#nextPage{
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
}
.info{
	padding-left: 10px;
	padding-bottom: 10px;
}
hr{
	border: 1px solid;
}
#virginia{
	padding-top: 20px;
	position: relative;
	height: 350px;
	width: 70%;
}
#codeCamp{
	display: inline;
	background-color: black;
	position: relative;
	left: 35%;
}
#test{
	position: relative;
    display: inline-flex;
    vertical-align: middle;
    background-color: black;
}
#testAgain{
	position: relative;
    display: inline-flex;
    vertical-align: middle;
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-linkedin {
    background: #0077B5;
    color: white;
}