h1{
	color: white;
	font-family: "Times New Roman";
	margin-top: 0px;
	font-size: 35px;

}
h2{
	font-family: "Times New Roman";
	color: black;
	font-size: 25px;
}
body{
	background-image:url("paper.jpg");
}
#header{
	width: 100%;
	height: 100px;
	margin-top: 0px;
	background-color: #222222;
}
.projectParagraph{
	background-color: rgba(0,0,0,0.4);
	border: 3px solid black;
	text-align: center;
	color: black;
	font-size: 20px;
	padding-left: 20%;
	padding-right: 20%;
	font-weight: 600;
	border-radius: 100px;
}
.paragraph{
	background-color: rgba(0,0,0,0.4);
	border: 3px solid black;
	border-radius: 100px;
	text-align: center;
	color: black;
	display: block;
	font-size: 20px;
	padding-left: 15%;
	padding-right: 15%;
	font-weight: 600;
}
.paragraphProject{
	color: black;
	padding-top: 60px;
	display: block;
	font-size: 20px;
	padding-left: 20%;
	padding-right: 20%;
	font-weight: 600;
}
.finalParagraph{
	background-color: rgba(0,0,0,0.4);
	border: 3px solid black;
	border-radius: 100px;
	color: #720921;
	display: block;
	font-size: 20px;
	padding-left: 20%;
	padding-right: 20%;
	font-weight: 600;
}
footer{
	position: fixed;
	bottom: 0px;
	background-color: #222222;
	display: inline;
	width: 100%;
}
#nextPage{
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
}
#previousPage{
	text-align: left;
	padding-left: 10px;
	padding-bottom: 10px;
}
.info{
	padding-left: 10px;
	padding-bottom: 10px;
}
hr{
	border: 1px solid;
}
#milwaukeeSkyline{
	position: relative;
	height: 250px;
	width: 55%;
}
#codeCamp{
	display: inline;
	background-color: black;
	position: relative;
	left: 35%;
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-linkedin {
    background: #0077B5;
    color: white;
}
.bottomText{
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align-last: right;
}
#mostWantedScreen{
}
#photoMe{
	padding-bottom: 30px;
}